{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>    
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>{% block title %} {% endblock%}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light container">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "Home" %}"><b>Contactos</b> <i class="bi bi-people-fill"></i></a>
            </div>
        </nav>
    </header>
    {% block content %} 
    
    {% endblock%}
    <footer>
        <div class="row">
            <div class="col-md-4">&copy; Todos los derechos son reservados..</div>
            <div class="col-md-4">Dayan David Orozco Rodriguez<br>
                <a href="https://web.whatsapp.com/send?phone=573004837788" target="_blank" class="biFooter"><i class="bi bi-whatsapp "></i></a>
                <a href="mailto:dayancitodor39@gmail.com" class="biFooter"><i class="bi bi-envelope-fill "></i></a>
            </div>
            <div class="col-md-4">Prueva BasCosta</div>
        </div>
    </footer>
</body>
</html>